.add-review-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#addReviewForm {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  background-color: #083344;
  padding: 10px;
  border-radius: 10px;
}

#addReviewForm button {
  background-color: #fde68a;
  padding: 4px;
  border-radius: 5px;
  border: none;
  margin-top: 1em;
  font-weight: 600;
}
#feedback {
  outline: none;
}
