.home-container {
  min-height: 70vh;
}

.home-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 22em;
  background-color: rgba(0, 0, 0, 0.466);
  padding: 1em;
  border-radius: 1em;
}

.title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: antiquewhite;
}
.desc {
  font-weight: 500;
  text-align: center;
  color: brown;
  margin-top: 1em;
}
.starter-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
}
.btn {
  text-decoration: none;
  color: bisque;
  padding: 5px;
  background-color: #06b6d4;
  border-radius: 8px;
}
.btn:hover {
  background-color: #10b981;
}

#adminBtn {
  background-color: #f43f5e;
}
#adminBtn:hover {
  background-color: #10b981;
}

@media (max-width: 768px) {
  .home-card {
    width: 100%;
  }
}
