.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 12px;
  min-width: 12em;
  border-radius: 11px;
  width: 45%;
  background-color: #e2e8f0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.habitTitle {
  font-weight: 700;
}

.card:hover {
  transform: scale(1.02);
  background-color: #fecaca;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
