.review-card {
  max-width: 550px;
  background-color: #083344;
  color: antiquewhite;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  /* justify-content: space-between; */
  justify-content: space-between;
}

.review-card p i {
  font-size: small;
  color: #fde68a;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.wrapper p:nth-child(even) {
  text-align: end;
}

#feedback p i {
  text-align: end;
}

.review-card button {
  /* position: absolute; */
  padding: 4px;
  background-color: #fde68a;
  border: none;
  border-radius: 4px;
  color: #1c1917;
  margin-top: 12px;
  font-weight: 600;
}

#reviewUpdateForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #cbd5e1; */
  padding: 3px;
  justify-content: center;
}
[name="feedback"] {
  flex-grow: 1;
  border-radius: 5px;
  outline: none;
}
